* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Видаляємо прокрутку */
    background: linear-gradient(#11101d, #0d1d43); /* Додаємо градієнтний фон */
}

.container {
    width: 100%;
    max-width: 600px; /* Максимальна ширина контейнера */
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff; /* Змінюємо колір заголовка */
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* Змінюємо колір тексту міток форми */
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

canvas {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
